.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  &__img {
    height: 200px;
    width: auto;
  }
  &__button {
    font-size: 1.4rem;
    padding: 1.4rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #c51162;
    transition: all 1s;
    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: #c51162;
      transform: translateY(3px);
    }
  }
}
@media screen and (max-width: 600px) {
  .login {
    &__img {
      height: 60px;
      width: auto;
    }
    &__button {
      font-size: 1rem;
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .login {
    &__img {
      height: 60px;
      width: auto;
    }
    &__button {
      font-size: 1rem;
      padding: 1rem;
    }
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  .login {
    &__img {
      height: 140px;
      width: auto;
    }
  }
}
