.create-playlists-container {
  width: 200px;
  height: calc(100% - 40px);
  margin: 0 20px;
}
.create-playlist-title {
  height: 15%;
  text-align: center;
}
.create-playlist-form-container {
  height: 85%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
label {
  color: #fff;
}

label {
  width: inherit;
  display: inline-block;
  border: 0px;
}
.form-inputs {
  margin: 10px 0;
  width: calc(100% - 8px);
  padding: 4px;
  width: inherit;
  display: inline-block;
  border: 0px;
}
button {
  margin: 5px 0;
  padding: 5px;
  font-weight: 600;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.create-button {
  padding: 6px;
  background: purple;
  color: #fff;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}


