.recently-played-songs {
  display: grid;
  grid-template-columns: 30% 30% 10% 10% 10% 10%;
  justify-content: space-between;
  align-items: center;
  &__items {
 
  }
  &__items-large {

  }
  &__keys {
    font-weight: 500;
    color: gold;
  }
  &__values {
    font-weight: 500;
    color: #fff;
  }
}
