.card {
  display: flex;
  max-width: 400px;
  margin: 10px 10px 10px 0;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #000;
  &:hover {
    background-color: rgba(38, 38, 38, 0.6);
    cursor: pointer;
    > h3 {
      color: #fff;
    }
  }
  &__img {
    width: 40px;
    height: "auto";
    background-size: cover;
    color: #fff;
  }

  &__link {
    width: 30px;
    height: auto;
    margin: 0 10px;
    transition: all 1s;
    &:hover {
      cursor: "hover";
      transform: scale(120%);
    }
  }
}
@media only screen and (max-width: 800px) {
  .card {
    > h3 {
      font-size: 12px;
    }
    &:hover {
      background-color: rgba(38, 38, 38, 0.6);
      cursor: pointer;
      > h3 {
        color: #fff;
      }
    }
  }
}
