.user-playlists {
  width: auto;
  height: calc(100% - 40px);

  &__title {
    height: 15%;
    text-align: center;
  }

  &__content {
    height: 85%;
    display: flex;
    display: grid;
    overflow-x: hidden;
    padding: 0 30px;
  }
}
