.user-playlists-container {
  width: auto;
  height: calc(100% - 40px);
}
.user-playlists-title {
  height: 15%;
  text-align: center;
}
.user-playlists-content {
  height: 85%;
  display: flex;
  display: grid;
  overflow-x: hidden;
  padding: 0 30px;
}
