.sidebar {
  background-color: black;
  color: #b3b3b3;
  display: flex;
  flex-direction: column;
  width: 200px;
  &--closed {
    transition: width 0.3s ease-in-out;
    width: 60px;
    background-color: black;
  }
  &__top-links {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  &__logo {
    text-align: center;
    margin: 1rem 0;
  }
  &__logo-img {
    width: 80px;
    height: auto;
    &--closed {
      width: 50px;
      height: auto;
    }
  }
  &__menu-toggle {
    color: #b2bac2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    margin-left: auto;
    margin-right: 10px;
    &---closed {
      padding: 0;
      margin: 0;
    }
  }
  &__list-items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px 20px 10px 20px;

    > li {
      display: flex;
      transition: 0.3s ease-in-out;
      > a {
        color: #fff;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          color: purple;
        }
      }
    }
  }

  &__text-display {
    margin-left: 20px;
    &--none {
      display: none;
    }
  }
  &__playlist-items {
    display: block;
    height: 300px;
    overflow-y: auto;
    &--none {
      display: none;
    }
  }
  &__playlist-item {
    width: 90%;
    margin: auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 30px;
    color: grey;
    transition: 200ms color ease-in;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: #fff;
    }
  }
  hr {
    width: 90%;
    display: block;
    border-style: inset;
    border-width: 1px;
    display: inline;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    height: 60px;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 10px;
    &__logo {
      align-self: center;
    }
    &__logo-img {
      width: 50px;
      height: auto;
    }
    &__menu-toggle {
      display: none;
    }
    &__top-links {
      flex-direction: row;
      width: 100%;
    }
    &__icons {
      width: 24px;
      height: 24px;
    }
    &__list-items {
      flex-direction: row;
      align-items: center;
      padding: 20px 0;
      width: 100%;
      justify-content: space-evenly;
    }
    &__playlist-items {
      display: none;
    }
  }
}
